<form action=""(ngSubmit)="onSubmit()">
<h1>Registro de una nueva cotizacion</h1>
<div>
    <h5>Nombre del cliente</h5>
    <input type="text" name="titular" id="" [(ngModel)]=titular> 
</div>

<div>
    <h5>Peso</h5>
    <input type="text" name="peso" id="" [(ngModel)]=peso> 
</div>

<div>
    <h5>Ancho</h5>
    <input type="text" name="ancho" id="" [(ngModel)]=ancho> 
</div>

<div>
    <h5>Alto</h5>
    <input type="text" name="alto" id="" [(ngModel)]=alto> 
</div>

<div>
    <h5>Largo</h5>
    <input type="text" name="largo" id="" [(ngModel)]=largo> 
</div>

<div>
    <h5>Pais</h5>
    <input type="text" name="pais" id="" [(ngModel)]=pais> 
</div>

<div>
    <h5>Region</h5>
    <input type="text" name="region" [(ngModel)]=region> 
</div>

<input type="submit" value="Cotizar">

</form>